.droplet-palette-canvas, .droplet-drag-canvas, .droplet-main-canvas, .droplet-lasso-select-canvas, .droplet-highlight-canvas {
  position: absolute;
}
.droplet-main-canvas, .droplet-drag-canvas, .droplet-lasso-select-canvas, .droplet-highlight-canvas {
  top: 0;
}
.droplet-drag-canvas {
  z-index: 258;
  margin-top: -2px;
  margin-left: -1px;
  opacity: 0.85;
}
.droplet-palette-canvas {
  z-index: 1;
  width: 300px;
}
.droplet-main-canvas {
  background-color:#FFF;
}
.droplet-main-canvas {
  z-index: 0;
  border-right: none;
}
.droplet-lasso-select-canvas {
  left: 0;
  z-index: 3;
  border-right: none;
}
.droplet-highlight-canvas {
  left: 0;
  z-index: 2;
  border-right: none;
}
.droplet-palette-canvas {
  background-color:#FFF;
}
.droplet-wrapper-div {
  position: absolute;
  top: 0; left: 0;
  cursor: default;
  background-color: #FFF;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.droplet-ace {
  position: absolute;
  top: -9999px; left: -9999px;
  font-family: Courier, monospace;
}
.droplet-main-scroller {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 300;
  overflow: auto;
}
.droplet-palette-scroller {
  position: absolute;
  left: 0; top: 150px; bottom: 0; right: 0;
  z-index: 300;
  overflow-y: auto;
  overflow-x: hidden;
}
.droplet-palette-wrapper {
  position: absolute;
  top: 0; bottom: 0; width: 300px;
  max-width: 40%;
  overflow: hidden;
  z-index: 257;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.droplet-palette-header {
  z-index: 257;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  line-height: 10px;
  border-spacing: 4px;
  border-bottom: 2px solid #000;
  display: table;
}
.droplet-palette-header-row {
  display: table-row;
  height: 30px;
  width: 100%;
}
.droplet-palette-group-header {
  display: table-cell;
  width: 50%;
  font-family: sans-serif;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
  border-left: 10px solid;
  color: dimgray;
}
.droplet-palette-group-header-selected {
  display: table-cell;
  width: 50%;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
}
.droplet-palette-group-header.command { border-left: 10px solid #8fbfef; }
.droplet-palette-group-header-selected.command { background-color: #8fbfef; }
.droplet-palette-group-header.value { border-left: 10px solid #8cec79; }
.droplet-palette-group-header-selected.value { background-color: #8cec79; }
.droplet-palette-group-header.control { border-left: 10px solid #efcf8f; }
.droplet-palette-group-header-selected.control { background-color: #efcf8f; }
.droplet-palette-group-header.return { border-left: 10px solid #f2a6a6; }
.droplet-palette-group-header-selected.return { background-color: #f2a6a6; }
.droplet-palette-group-header.containers { border-left: 10px solid #bfa6f2; }
.droplet-palette-group-header-selected.containers { background-color: #bfa6f2; }
.droplet-palette-group-header.logic { border-left: 10px solid #ecec79; }
.droplet-palette-group-header-selected.logic { background-color: #ecec79; }
.droplet-palette-group-header.math { border-left: 10px solid #f2a6e5; }
.droplet-palette-group-header-selected.math { background-color: #f2a6e5; }

.droplet-hidden-input {
  position: absolute;
  z-index: -999;
  opacity: 0;
  -webkit-touch-callout: none;
}
.droplet-hover-div {
  position: absolute;
}
.droplet-main-scroller {
  z-index: 10;
}
.droplet-main-scroller-stuffing {
  z-index: 10;
}
.droplet-palette-scroller-stuffing {
  /* Temporary hack to prevent bad side-scrolling
   * behaviour when dragging blocks out of the palette */
  overflow-x: hidden;
}
.droplet-transition-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: visible;
}
.droplet-gutter {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ebebeb;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Courier New;
}
.droplet-gutter-line {
  position: absolute;
  box-sizing: border-box;
  text-align: right;
  padding-right: 13px;
  line-height: normal;
  width: 100%;
}
.droplet-drag-cover {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 9999;
}
.droplet-transitioning-element {
  position: absolute;
  white-space: pre;
  z-index: 300;
}
.droplet-transitioning-gutter {
  box-sizing: border-box;
  text-align: right;
  padding-right: 13px;
}
.droplet-palette-highlight-canvas {
  position: absolute;
  z-index: 257;
}
.droplet-palette-group-header.blue { border-left: 10px solid #8fbfef; }
.droplet-palette-group-header-selected.blue { background-color: #8fbfef; }
.droplet-palette-group-header.green { border-left: 10px solid #8cec79; }
.droplet-palette-group-header-selected.green { background-color: #8cec79; }
.droplet-palette-group-header.orange { border-left: 10px solid #efcf8f; }
.droplet-palette-group-header-selected.orange { background-color: #efcf8f; }
.droplet-palette-group-header.violet { border-left: 10px solid #f2a6e5; }
.droplet-palette-group-header-selected.violet { background-color: #f2a6e5; }

.droplet-cursor-canvas {
  opacity: 0.5;
}

.droplet-dropdown {
  max-height: 150px;
  position: absolute;
  background-color: #FFF;
  z-index: 10000;
  border: 1px solid #DDD;
  border-radius: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.droplet-dropdown-item {
  cursor: pointer;
}
.droplet-dropdown-item:hover {
  background-color: #DDD;
}